/* User Image Sizing & Styling From Here */
.user-summary .card{
    background: hsl(207, 93%, 73%);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 10.5px ) saturate(180%);
-webkit-backdrop-filter: blur( 10.5px ) saturate(180%);
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.user-img{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

/* Image Rounded up */
.user-img img{
    width: 80%;
    border-radius: 50%;
}

/* Single Card Styled */
.single-card:hover{
    /* background-color: #F06292; */
    background-color: #FFAB91;
}



/* Button Style */
.user-btn{
   width: 100%;
   padding: 5px 0px;
   border: none;
   background-color: #3F51B5;
   color: #fff;
   border-radius:3px;
}

/* Button Are Hovering */
.user-btn:hover{
   background-color: #FFB74D;
}

