/* Header Are Sizing Here */
*{
    margin:0px;
    padding:0px;
}

a{
    text-decoration: none;
}

/* Containing Header Style */
.header-container{
    background-color:#26C6DA;
    text-align: center;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1;
}

/* Styling For Header */
.header-programmers-club{
    background-color:#26C6DA;
    color:#fff;
    padding: 20px;
}