/*<-----Footer.css Are Starting Here */
.footer{
    padding:20px 0px;
    background-color: #26C6DA;
    color: #fff;
    text-align: center;
}
.footer p{
    margin: 0px;
    color: #F06292;
}
/*<-----Footer.css Are Ending Here */